.simple-wysiwyg-buttons {
  position: absolute;
  margin-top: calc(-0.702rem * 2);
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
  background-color: var(--color-gray-050, #f3f4f9);
  font-size: var(--font-size-xxs, 0.702rem);
}

.simple-wysiwyg-buttons a {
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
  text-decoration: none;
  color: inherit;
}
